<ion-toolbar class="toolbar">
  <ion-buttons slot="start">
    <ion-back-button default-href="/alunos"></ion-back-button>
  </ion-buttons>
</ion-toolbar>
  <cdk-virtual-scroll-viewport itemSize="56" minBufferPx="900" maxBufferPx="1350">
  <ion-button expand="full" (click)="setOpen(true)">
    Adicionar Exercícios
  </ion-button>
  <ion-button expand="full" (click)="newTraining()">
  Novo treino
  </ion-button>
  <h1>Treino atual</h1>
  <ion-grid *ngIf="typeTraining === true">
    <ion-radio-group [(ngModel)]="selectedRadio" (ngModelChange)="currentTraining()">
      <ion-col>
      <ion-radio value="A">A</ion-radio>
      </ion-col>
      <ion-col>
        <ion-radio value="B">B</ion-radio>
        </ion-col>
        <ion-col>
          <ion-radio value="C">C</ion-radio>
          </ion-col>
        </ion-radio-group>
      </ion-grid>

  <ion-list *ngIf="typeTraining === true">
    <ion-item *ngFor="let item of trainingItems" >
      <ion-card>
        <ion-card-content>
            <ion-item >
            <ion-grid>
               <ion-row>
              <ion-col>
                <iframe width="100" height="200" [src]="item.video | safe: 'resourceUrl'" title="Supino reto halteres" frameborder="1" allow="encrypted-media" allowfullscreen></iframe>
              </ion-col>
               <ion-col>
                  <ion-card-title>{{item.nome}}</ion-card-title>
              <ion-card-subtitle>{{item.variacao}}</ion-card-subtitle>
              <ion-card-subtitle>Polia</ion-card-subtitle>
                <span class="informationData">Repetições: <ion-input [(ngModel)]="item.repeticoes" (ngModelChange)="updateDataExercise(item.id, item.repeticoes)"/></span >

               </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          </ion-card-content>
        </ion-card>
    </ion-item>
    </ion-list>

  </cdk-virtual-scroll-viewport>

  <ion-modal [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="cancel()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterExercises($event)" id="mySearchbar" color="medium "
        placeholder="Pesquisar Exercício" style="text-transform:uppercase">
      </ion-searchbar>
      <ion-select [(ngModel)]="searchCategory" aria-label="categorias" id="" (ionChange)="filterExercisesCategory()"
        placeholder="Selecione a Categoria" multiple="false">
        Selecione a categoria
        <ion-select-option value=''>

        </ion-select-option>
        <ion-select-option value='Costas'>
          Costas
        </ion-select-option>
        <ion-select-option value='Peito'>
          Peito
        </ion-select-option>
        <ion-select-option value='Pernas'>
          Pernas
        </ion-select-option>
      </ion-select>

      <ion-button shape="round">Add exercício</ion-button>

      <ion-list *ngFor="let item of filterItems" >
        <ion-item >
          <ion-card  class="cardExercise" >
            <ion-card-header>
              <ion-card-title>{{item.nome}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{item.categoria}}
            </ion-card-content>
            <ion-col size="auto">
              <ion-button fill="clear" color="danger" >
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-card>
          <ion-button slot="end" (click)="addExerciseInTraining(item.nome, item.variacao, item.id)">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>

    </ng-template>
  </ion-modal>
