<ion-card class="cardPerfil" style="max-width: 540px; margin: auto;" *ngFor="let user of items">
  <ion-grid *ngIf="user.isProfessor === false">
    <ion-row class="container">
      <ion-col size-md="2" size-lg="1">
        <!-- Coluna vazia para criar espaço à esquerda -->
      </ion-col>
      <ion-col size-md="8" size-lg="5" class="profile-col">
        <div class="profile-picture">
          <img class="iconImg" src="{{user.img}}" alt="">
        </div>
        <h2 class="shortName">{{user.shortName}}</h2>

        <h6 class="editPerfil"><a href="/perfil">Editar Perfil</a></h6>
      </ion-col>
      <ion-col size-md="2" size-lg="6" class="alert-col">
        <a>
          <button class="iconAlert icons">
            <p class="iconText">Alertas</p>
            <img class="imgAlert" src="https://img.icons8.com/ios/30/000000/alarms.png" alt="Alertas">
          </button>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="user.isProfessor === true">
    <ion-row class="container">
      <ion-col size-md="2" size-lg="1">
      </ion-col>
      <ion-col size-md="8" size-lg="5" class="profile-col">
        <div class="profile-picture">
          <img class="iconImg" src="{{user.img}}" alt="">
        </div>
        <h2 class="shortName">{{user.shortName}}</h2>
       <span class="cref"> <strong>CREF: </strong>{{user.cref}}</span>
        <h6 class="editPerfil"><a href="/perfil">Editar Perfil</a></h6>
      </ion-col>
      <ion-col size-md="2" size-lg="6" class="alert-col">
        <a>
          <button class="iconAlert icons">
            <p class="iconText">Alertas</p>
            <img class="imgAlert" src="https://img.icons8.com/ios/30/000000/alarms.png" alt="Alertas">
          </button>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
<div class="second-panel" style="max-width: 540px; margin: auto;" *ngFor="let item of items">
  <ion-grid *ngIf="item.isProfessor === false">
    <ion-row class="iconsGrid" style="max-width: 540px; ">
      <ion-col>

         <a routerLink="/personal-info/{{item.professor}}" >
           <button class="icons">
              <img src="https://img.icons8.com/017bcc/personal-trainer" />
              <p >Personal</p>
           </button>
         </a>

         <a href="/treino-pisc-aluno">
          <button class="icons">
          <img src="https://img.icons8.com/017bcc/swimming"/>
          <p>Natação</p>
          </button>
        </a>

      </ion-col>
      <ion-col>
        <a href="/agenda">
        <button class="icons" >
          <img src="https://img.icons8.com/017bcc/view-shedule.png"/>
          <p>Agenda</p>
        </button>
     </a>
     <a href="/historico">
      <button class="icons">
        <img src="https://img.icons8.com/017bcc/clock"/>
        <p>Histórico</p>
      </button>
    </a>

    </ion-col>
 <ion-col>
     <a href="feedback-alunos">
        <button class="icons">
          <img src="https://img.icons8.com/017bcc/chat"/>
          <p>Feedback</p>
        </button>
     </a>
      <a href="/treino-musc-aluno">
        <button class="icons">
        <img src="https://img.icons8.com/017bcc/strength"/>
        <p>Meu treino</p>
        </button>
    </a>
 </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="item.isProfessor === true">
    <ion-row class="iconsGrid" style="max-width: 540px; ">
      <ion-col>

         <a href="/alunos">
           <button class="icons">
              <img src="https://img.icons8.com/017bcc/user" />
              <p >Alunos</p>
           </button>
         </a>

    <a href="/treino-pisc-aluno">
      <button class="icons">
      <img src="https://img.icons8.com/017bcc/swimming"/>
      <p>Natação</p>
      </button>
    </a>

      </ion-col>
      <ion-col>
        <a href="/agenda">
        <button class="icons" >
          <img src="https://img.icons8.com/017bcc/view-shedule.png"/>
          <p>Agenda</p>
        </button>
     </a>
     <a href="/historico">
      <button class="icons">
        <img src="https://img.icons8.com/017bcc/clock"/>
        <p>Histórico</p>
      </button>
    </a>

    </ion-col>
 <ion-col>
     <a href="/feedback-professor">
        <button class="icons">
          <img src="https://img.icons8.com/017bcc/chat"/>
          <p>Feedback</p>
        </button>
     </a>
      <a href="/treino-musc-aluno">
        <button class="icons">
        <img src="https://img.icons8.com/017bcc/strength"/>
        <p>Treinos</p>
        </button>
    </a>
 </ion-col>
    </ion-row>
  </ion-grid>

</div>









<ion-button (click)='logout()'></ion-button>

