.card{
  margin-left:-1.5%;
  width: 46.1vh;
  height: 27rem;
  // border-radius: 70px 70px 0px 0px;
  background-color: rgb(255, 255, 255);
  color: #000;
  text-align: center;
}
.midcard{
  position: fixed;
  margin-left: -0.7rem;
  width: 102%;
  height: 18rem;
  border-radius: 70px 70px 70px 70px;
  background-color: rgb(14, 5, 53);
  margin-top: -35rem;
  text-align: center;
  color: #ffffff;
  // display: none;
}
.bottomcard{
   margin-left: -2rem;
  width: 100vh;
  height: 25.5rem;
  // border-radius: 0px 0px 70px 70px;
  background-color:  rgb(14, 5, 53);
color: white;
}
img{
  color: white;
}
.vertical-center {
  display: flex;
  align-items: flex-end;
  height: 100%; /* Para ocupar a altura total do container pai */
  margin-top: -40px;
  color: #ffffff;
}
.horizontal-center {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.horizontal-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: end;
  color: #ffffff;

}
.iconPerfil{
  width: 120px;
  height: 120px;
  border-radius: 100px;
  border: 1px rgb(255, 255, 255) solid;
}
.flexcolum{
flex-direction: column;
}
ion-button{
  width: 8rem;
  color:black;
  border-color: #000;
}
.staticsData{
  display: flex;
}
.statics{
  border: 1px solid black;
}
.staticsContent{
  border: 1px solid black;
margin: 5px;
border-radius: 30px;
}
.flex{
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}
.flexstart{
  display: flex;
  flex-direction: column;
  // margin-bottom: -40px;
}
