/* Estilos para centralizar a imagem de perfil e torná-la redonda */
.profile-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-picture {
  width: 120px; /* Defina o tamanho desejado para a imagem de perfil */
  height: 120px; /* Defina o tamanho desejado para a imagem de perfil */
  border-radius: 200px;
  overflow: hidden; /* Corta a parte da imagem que não é visível dentro do círculo */
  margin-top: 5%;
}

/* Outros estilos de design (ajuste conforme necessário) */
.iconImg {
  width: 100%; /* Preenche todo o círculo */
  height: 100%; /* Preenche todo o círculo */
}

.iconAlert {
  text-align: right;
  background: transparent;
  float: left;
}
.alert-col {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alinha o conteúdo verticalmente no centro */

}
.icons{
  height: 80px;
  width: 70px;
  border-radius: 10px;
  background-color: transparent;
  }
  .iconsGrid ion-col a button{
    margin-left: 10px; /* Espaçamento uniforme em todas as direções */
    margin-bottom: 50px;
  }
  .container{
  // background-color: aliceblue;
  margin-left: -12%;

  }
  .iconsGrid{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin-right: -10%;
    margin-top: 20%;
  }

  .second-panel {
    position: absolute;
    top: 28%; /* Distância de 10% a partir do topo do primeiro painel */
    left: 0;
    width: 100%; /* Largura de 100% para preencher a largura do primeiro painel */
    background-color: #00006d;
    border-radius: 100px 100px 0px 0px;
    height: 75vh; /* Altura de 75% da altura visível do dispositivo */
    max-height: 896px;
  }
  .editPerfil{
    margin-top: 4%;
    text-decoration: none;

  }
  .cref{
    margin-top: -1%;
  }
  .shortName{
    margin-top: -1%;
  }
  .cardPerfil
  {
    border-radius: 120px 0px 130px 0px;
// background-color: white;
    height: 30vh;
    width: 120%;
    text-align: center;
    // margin-left: -25px;
    margin-top: -1%;
    position: relative;
  //   position: relative;
  //   right: 4.5%;
  //   top: 6.5%;
  //   display: flex;
  // justify-content: center;
  // justify-items: center;
  }
  .iconImg{
  // position: absolute;
  // width: 120px;
  // height: 120px;
  // border-radius: 200px;
  // top: 12%;
  // left: 35%;
  }
  .iconAlert{
  // text-align: center;
  // background-color: transparent;
  // max-width: 150px;
  }

  // .iconAlert2{
  // position: absolute !important;
  // bottom: 60.5% !important;
  // right: 78% !important;
  // }

  // h2{
  //   position: absolute;
  //   top: 34%;
  //   }
  // h6{
  // position: absolute;
  // top: 42%;
  // }
  // .imgAlert{
  // position: absolute;
  // left: 32%;
  // bottom: 18%;
  // }
  // .iconText{
  // position: absolute;
  // bottom: 50%;
  // left: 11%;
  // font-size: large;
  // }
