.card{
  // margin-left: -10px;
  width: 101%;
  height: 27rem;
  border-radius: 70px 70px 0px 0px;
  background-color: rgb(255, 255, 255);
}
.midcard{
  // margin-left: -17px;
  width: 100%;
  height: 27rem;
  border-radius: 70px 70px 70px 70px;
  background-color: rgb(14, 5, 53);
  margin-top: -140%;
}
.bottomcard{
  // margin-left: -17px;
  width: 100%;
  height: 27rem;
  border-radius: 0px 0px 70px 70px;
  background-color: rgb(255, 255, 255);

}
.main{

}
