  <ion-grid class="main">
    <ion-row class="card " >
      <ion-col class="statics">
       <div class="staticsData ">

          <ion-col class="staticsContent">
            <div><h5>Musculação</h5></div>
<div><h3>Parcela de hoje: A</h3></div>
<div><h3> <ion-button fill="solid" color="primary" >Iniciar treino</ion-button></h3></div>
          </ion-col>
          <ion-col class="staticsContent">
            <div><h5>Natação</h5></div>
<div><h3>Melhor tempo: 15"45
</h3></div>
<div><h3> <ion-button fill="solid" color="primary" >Iniciar treino</ion-button></h3></div>
          </ion-col>
       </div>

      </ion-col>

    </ion-row>
    <ion-row class="bottomcard">
      <ion-grid class="ion-align-items-center" >
        <ion-row class="vertical-center" >
          <ion-col size="3"  class="horizontal-end flexstart" >
            <img src="https://img.icons8.com/ios/80/personal-trainer.png" width="80" height="80" alt="" class="iconPerfil"> <br/>
            <ion-button>Editar Perfil</ion-button>
          </ion-col>
          <ion-col size="3"  class="horizontal-center flexstart">
            <h1> Daniel Torquato</h1>
           <p class="bold" style="font-weight: bold;">Altura: 1,80m </p>
           <p style="font-weight: bold;">Peso: 113kg</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
    <ion-row class="midcard">
      <ion-grid>
        <ion-row>
          <ion-col size="4" size-sm="3">
            <img src="https://img.icons8.com/ios/80/FFFFFF/personal-trainer.png" width="80" height="80" alt="">
           <ion-row>Teste</ion-row>
          </ion-col>
          <ion-col size="4" size-sm="3">
          <img src="https://img.icons8.com/ios/80/FFFFFF/personal-trainer.png" width="80" height="80" alt="">
          <ion-row>Teste</ion-row>
          </ion-col>
          <ion-col size="4" size-sm="3">
          <img src="https://img.icons8.com/ios/80/FFFFFF/personal-trainer.png" width="80" height="80" alt="">
          <ion-row>Teste</ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
        </ion-row>
        <ion-row>
          <ion-col size="4" size-sm="3">
            <img src="https://img.icons8.com/ios/80/FFFFFF/personal-trainer.png" width="80" height="80" alt="">
            <ion-row>Teste</ion-row>
          </ion-col>
          <ion-col size="4" size-sm="3">
          <img src="https://img.icons8.com/ios/80/FFFFFF/personal-trainer.png" width="80" height="80" alt="">
          <ion-row>Teste</ion-row>
          </ion-col>
          <ion-col size="4" size-sm="3">
          <img src="https://img.icons8.com/ios/80/FFFFFF/personal-trainer.png" width="80" height="80" alt="">
          <ion-row>Teste</ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>

  </ion-grid>

