<ion-toolbar class="toolbar" *ngIf="typeTraining === false">
  <ion-buttons slot="start">
    <ion-back-button default-href="/tabs/tab2"></ion-back-button>
  </ion-buttons>
  <ion-button (click)="alterTraining()">
    Ir para musculação
  </ion-button>
</ion-toolbar>
<ion-toolbar class="toolbar" *ngIf="typeTraining === true">
  <ion-buttons slot="start">
    <ion-back-button default-href="/tabs/tab2"></ion-back-button>
  </ion-buttons>
  <ion-button (click)="alterTraining()">
    Ir para piscina
  </ion-button>
</ion-toolbar>
<h1>Treino atual</h1>
<ion-grid *ngIf="typeTraining === true">
  <ion-radio-group [(ngModel)]="selectedRadio" (ngModelChange)="currentTraining()">
    <ion-col>
    <ion-radio value="A">A</ion-radio>
    </ion-col>
    <ion-col>
      <ion-radio value="B">B</ion-radio>
      </ion-col>
      <ion-col>
        <ion-radio value="C">C</ion-radio>
        </ion-col>
  </ion-radio-group>
</ion-grid>








<cdk-virtual-scroll-viewport  orientation="horizontal" itemSize="56" minBufferPx="900" maxBufferPx="1350">
<div  *ngIf="typeTraining === true" class="cdk-virtual-scroll-data-source-example" >
        <ion-card *ngFor="let item of trainingItems" (click)="getIdCard(item.nome)" class="card">
        <ion-card-content class="card-contents">
          <ion-grid>
             <ion-row >
            <ion-col >
              <iframe width="150" height="230" [src]='item.video' scrolling="no" title="Supino reto halteres" frameborder="1" allow="encrypted-media" allowfullscreen> </iframe>
            </ion-col>
             <ion-col>
                <ion-card-title>{{item.nome}}</ion-card-title>
            <ion-card-subtitle>{{item.variacao}}</ion-card-subtitle>
            <ion-card-subtitle>Polia</ion-card-subtitle>
            <p><span class="informationData">Repetições:</span > <ion-input value='{{item.repeticoes}}'></ion-input> </p>
              <!-- <div class="sets"><p *ngFor="let items of item.set">{{items[0]}}{{items[1]}}{{items[2]}}{{items[3]}}</p></div> -->
             </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button fill="clear" shape="around" (click)="abrirAlert(nomeExercicio)"><ion-icon slot="start" name="arrow-redo-outline"></ion-icon>
                  Feedback</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>

      </ion-card>
    </div>
  </cdk-virtual-scroll-viewport>


     <div *ngIf="typeTraining === false" class="card">
      <ion-card *ngFor="let item of trainingSwimItems">
      <ion-card-content>
        <ion-grid>
           <ion-row>
          <ion-col>
            <iframe width="150" height="230"  scrolling="no" title="Supino reto halteres" frameborder="1" allow="encrypted-media" allowfullscreen> </iframe>
          </ion-col>
           <ion-col>
              <ion-card-title>{{item.nome}}</ion-card-title>
          <ion-card-subtitle>Intensidade: {{item.intensidade}}</ion-card-subtitle>

          <p><span class="informationData">Variação:</span > <ion-input value='{{item.variacao}}'></ion-input> </p>
          <p><span class="informationData">Metros:</span > <ion-input value='{{item.metros}}'></ion-input> </p>
            <div class="sets"><p *ngFor="let items of item.set">{{items[0]}}{{items[1]}}{{items[2]}}{{items[3]}}</p></div>
           </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button fill="clear" shape="around" (click)="abrirAlert(nomeExercicio)"><ion-icon slot="start" name="arrow-redo-outline"></ion-icon>
                Feedback</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      <ion-button expand="block" (click)="getIdTime(item.docId)" id="open-modal-time" *ngIf="typeTraining === false">Marcar Tempo</ion-button>
      <ion-modal trigger="open-modal-time">
        <cdk-virtual-scroll-viewport itemSize="56" minBufferPx="900" maxBufferPx="1350" class="scrollModal">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Modal</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="cancel()">Close</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>

          <ion-grid >
              <ion-card >
                <ion-card-content>
                  <ion-label>{{ seconds }}:{{ centiseconds }}</ion-label>
                </ion-card-content>
              </ion-card>

              <ion-button (click)="start()" [disabled]="isRunning">Iniciar</ion-button>
              <ion-button (click)="stop()" [disabled]="!isRunning">Concluir</ion-button>
              <ion-button (click)="clear()">Novo treino</ion-button>
              <ion-button (click)="recordLap()" [disabled]="!isRunning">Registrar Volta</ion-button>
              <div *ngIf="laps.length > 0">
                <h3>Voltas</h3>
                <ion-list>
                  <ion-item *ngFor="let lap of laps; let i = index" >
                    {{ i + 1 }} - {{ lap.seconds }}:{{ lap.centiseconds }}
                    <ion-button>validar</ion-button>
                    <ion-button (click)="invalidTime(lap.lapIndex)">invalidar</ion-button>
                  </ion-item>
                </ion-list>
                <h3>Melhor Volta</h3>
                <p *ngIf="fastestLap">Melhor volta: {{ fastestLap.seconds }}:{{ fastestLap.centiseconds }}</p>
                <h3>Média de Tempo</h3>
                <p *ngIf="averageTime">Média de tempo: {{ averageTime.seconds }}:{{ averageTime.centiseconds }}</p>
              </div>
            </ion-grid>

          </ng-template>
        </cdk-virtual-scroll-viewport>
      </ion-modal>
    </ion-card>

   </div>

   <ion-button fill="clear" shape="around" color="success" (click)="openAlert()"><ion-icon slot="start" name="arrow-redo-outline"></ion-icon>
     Concluir Treino</ion-button>

