.block {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-modal {
  --height: auto;
}
.cardExercise{
  width: 100%;
  height: 95px;
}
.toolbar{
  background-color: transparent;
}
ion-card-content {
  margin-bottom: 5px;
  // text-align: center;
img {
    width: 6.125rem;
    height: 6rem;
    flex-shrink: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
    margin-bottom: 2%;
    margin-right: 4%;

  }
img{
  border-radius: 200px;
}
}
h1{
  text-align: center;
}
.informationData{
  font-weight: bold;
}
.card{
  width: 25rem;
// height: 43rem;
max-height: 43rem;
flex-shrink: 0;
margin: auto;
}
ion-list{
  background-color: transparent;
}
/* Estilo do input do toggle (escondido) */
.toggle-checkbox {
  display: none;
}
.scrollModal{
  height: 100%;

width: 100%;
}
/* Estilo do rótulo do toggle */
.toggle-label {
  display: inline-block;
  width: 60px; /* Largura do toggle */
  height: 30px; /* Altura do toggle */
  background-color: #ccc; /* Cor de fundo padrão do toggle */
  border-radius: 30px; /* Para criar uma forma redonda */
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
  float: right;
}

/* Estilo do rótulo quando o toggle está marcado (ligado) */
.toggle-checkbox:checked + .toggle-label {
  background-color: #2ecc71; /* Cor de fundo quando ligado */
}

/* Estilo do círculo deslizante do toggle */
.toggle-label::before {
  content: "";
  position: absolute;
  width: 26px; /* Largura do círculo deslizante */
  height: 26px; /* Altura do círculo deslizante */
  border-radius: 50%; /* Forma de círculo */
  background-color: #fff; /* Cor do círculo deslizante */
  left: 2px; /* Inicialmente à esquerda */
  transition: left 0.3s;
}

/* Estilo do círculo deslizante quando o toggle está marcado (ligado) */
.toggle-checkbox:checked + .toggle-label::before {
  left: 32px; /* Move o círculo deslizante para a direita */
}
.typeTraining{
  float: right;
}

.sets{
  display: flex;
  flex-direction: row;
}
.card-contents{
  height: 45rem;
  width: 23rem;
  border-radius: 2.25rem;
border: 5px solid #000C79;
text-align: center;
}
.observation{
  width: auto;
  height: 8em;
  margin-top: -5%;
  overflow: hidden; /* oculta o texto que ultrapassa a largura */
  text-overflow: ellipsis; /* adiciona reticências (...) quando o texto ultrapassa */
  border: solid 1px gray;
  background-color: rgba(148, 148, 148, 0.116);
  border-radius: 10px;
  text-align: center;
}
.nameExercise{
  text-align: center;
}
