<ion-grid>
  <form [formGroup]= "loginForm" (ngSubmit)="userLogin()">
    <ion-list>
      <ion-col size="6" size-md="4" size-lg="2">
        <ion-item>
          <ion-row>
            <ion-input type="email" label="Email" formControlName="email"></ion-input>
          </ion-row>
        </ion-item>
      </ion-col>
      <ion-col size="6" size-md="4" size-lg="2">
        <ion-item>
          <ion-row>
            <ion-input type="password" label="Senha" formControlName="password"></ion-input>
          </ion-row>
        </ion-item>
      </ion-col>
    </ion-list>
    <div class="ion-activatable ripple-parent circle">
      <ion-button fill="clear"  type="submit">Entrar</ion-button>
      <ion-ripple-effect type="unbounded">
      </ion-ripple-effect>
    </div>
    <div class="ion-activatable ripple-parent circle">
      <ion-button fill="clear" (click)="setOpen(true)">Esqueci a senha</ion-button>
      <ion-ripple-effect type="unbounded">
      </ion-ripple-effect>
    </div>

    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Modal</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-row>
            <ion-input type="email" label="Email" placeholder="Insira seu e-mail" formControlName="emailReset"></ion-input>
          </ion-row>
          <div class="ion-activatable ripple-parent circle">
            <ion-button fill="clear" id="present-alert" (click)="resertPassword()">Redefinir Senha</ion-button>
            <ion-ripple-effect type="unbounded">
            </ion-ripple-effect>
            <ion-alert
  trigger="present-alert"
  header="Redefinição enviada"
  subHeader="Enviamos um link de redefinição para seu e-mail!"
  [buttons]="alertButtons"
></ion-alert>
          </div>

        </ion-content>
      </ng-template>
    </ion-modal>

  </form>
</ion-grid>
