.card-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

// .aluno-foto-container {
//   margin-right: 10px;
// }

.feedback-card {
  border-radius: 8px;
  width: 100%;
  border-radius: 6.25rem 0.625rem 0.625rem 6.25rem;
  box-shadow: 2px 2px 3px 2px rgba(0,25,66,1);
}

.expandir-button {
  --background: transparent;
  --color: #007bff;
  --border: none;
  --padding-start: 0;
  --padding-end: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5px;
}

.expandir-button ion-icon {
  font-size: 16px;
  margin-start: 5px;
}

.responder-button {
  --background: transparent;
  --color: #007bff;
  --border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
ion-item{
  --background: transparent;

}
ion-card{
  border-radius: 6.25rem 0.625rem 0.625rem 6.25rem;
  box-shadow: 2px 2px 3px 2px rgba(0,25,66,1);

  }
  ion-card-content {
    margin-bottom: 5px;
    // text-align: center;

  img {
      width: 6.125rem;
      height: 6rem;
      flex-shrink: 0;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      border-radius: 10px;
      margin-bottom: 2%;
      margin-right: 5%;

    }
  img{
    border-radius: 200px;
  }
  }
  h1{
    text-align: center;
  }
  .informationData{
    font-weight: bold;
  }
ion-button{
  float: right;
}
cdk-virtual-scroll-viewport {
  height: 100%;
  width: 100%;
  --background: transparent;
}

