<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  text="Voltar" default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Feedbacks</ion-title>
  </ion-toolbar>
</ion-header>
<cdk-virtual-scroll-viewport itemSize="56" minBufferPx="900" maxBufferPx="1350">
  <ion-segment value="Respondido" [(ngModel)]="selectedSegment" (ngModelChange)="searchFeedbacks(selectedSegment)">
    <ion-segment-button value="Respondido">
      <ion-label>Respondido</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Aguardando Resposta">
      <ion-label>Pendentes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Resolvidos">
      <ion-label>Resolvidos</ion-label>
    </ion-segment-button>
  </ion-segment>
      <ion-card *ngFor="let items of feedbacks" >
        <ion-card-content (click)="pegaId(items.idDoc)">
          <ion-grid>
            <ion-row>
              <ion-col size="auto">
                <img src="{{ items.img }}" />
              </ion-col>
              <ion-col size="8">

                <ion-row>
                  <ion-col>
                    <ion-card-title>{{ items.shortName }}</ion-card-title>
                  </ion-col>
                  <ion-col>

                    <ion-card-subtitle> </ion-card-subtitle>
                  </ion-col>
<ion-col>
  {{ items.createDate }}
  {{items.createHour}}
</ion-col>
                </ion-row>

                <ion-card-subtitle>{{ items.name }}</ion-card-subtitle>
                <p *ngIf="items.type === 'Exercício'">Exercício: {{items.exercise}}</p>
                <p><span class="informationData">Texto:</span> {{ items.text }}</p>
                <p *ngIf="items.answered === 'Respondido' "><span class="informationData">Resposta:</span> {{ items.answer }}</p>
                <p><span class="informationData">Tipo:</span> {{ items.type }}</p>
              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-card-content>
        <!-- <ion-col size="1">

          <ion-button fill="clear" *ngIf="item.rea">
            <ion-icon slot="icon-only" name="arrow-undo-sharp"></ion-icon>
          </ion-button>

        </ion-col> -->
      </ion-card>
  </cdk-virtual-scroll-viewport>
